@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style-type: none;
}

body{
	width:100%;
	/*opacity:0.85;*/
	/*background-image: url("imgs/line.jpg");
	background-repeat:repeat-x;
	padding-top:10px;*/
	/*background-color:#F4F4F4;*/
	font-size: 15px;
	font-family: "KozGoPro-Light", "小塚ゴシック Pro L", "ヒラギノ角ゴ ProN W3",
	 "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
	line-height:1.8;
}

#logo{
	position:absolute;
	top:0px;
	right:0px;
}

.topics{
	width:420px;
	background-color:#ffffff;
	background-color:rgba(255,255,255,0.8);
	/*opacity:0.85;*/
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
	-moz-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
	position:absolute;
	top:10px;
}

h4{
	padding-top:15px;
	padding-bottom:5px;
}

/*.ribbon{
	position: relative;
	background: #f6ecac;
	background-color:rgba(246,236,172,0.7);
	padding: 10px;
	border-radius: 10px 10px 10px 10px;
}

.ribbon:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 25px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid #f6ecac;
}*/

.ribbon{
	border-bottom:2px dashed #003399;
	border-left:6px solid #1C0B5A;
	padding-left:5px;
	padding-top:5px;
}

.column{
	/*columns:200px auto solid #0066FF 3px
	-webkit-columns: 200px auto;
	-o-columns: 200px auto;
	-ms-columns: 200px auto;*/

	-moz-column-count: 2;
	-moz-column-rule: 3px dotted yellowgreen;
	-moz-column-gap:40px;

	-webkit-column-count: 2;
	-webkit-column-rule: 3px dotted yellowgreen;
	-webkit-column-gap:40px;

	-o-column-count: 2;
	-o-column-rule: 3px dotted yellowgreen;
	-o-column-gap:40px;

	-ms-column-count: 2;
	-ms-column-rule: 3px dotted yellowgreen;
	-ms-column-gap:40px;
}

#footer{
	width:100%;
	background-image: url("imgs/line.png");
	color: #FFFFFF;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-family: "KozGoPro-Light", "小塚ゴシック Pro L", "ヒラギノ角ゴ ProN W3",
	"Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}
 
#menu
{
    width: 100%;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none; 
    background: #2163E5;
    /*background: -moz-linear-gradient(top, #444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));*/
    border-right:solid 2px #1647A0;
	border-left:solid 2px #1647A0;
	border-bottom:solid 10px #1647A0;
	-moz-border-radius: 10px;
    border-radius: 10px;
    /*-moz-box-shadow: 0 1px 1px #9c9c9c;
    -webkit-box-shadow: 0 1px 1px #9c9c9c;
    box-shadow: 0 1px 1px #9c9c9c;*/
}
 
#menu li
{
    float: left;
    padding: 0 0 10px 0;
    position: relative;
}
 
#menu a
{
    float: left;
    height: 25px;
    padding: 0 25px;
    color: #ffffff;
    text-transform: uppercase;
    font: 12px/25px "KozGoPro-Light", "小塚ゴシック Pro L", "ヒラギノ角ゴ ProN W3",
	"Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}
 
#menu li:hover > a
{
    color: #F9FF93;
}
 
*html #menu li a:hover /* IE6 */
{
    color: #F9FF93;

}
 
#menu li:hover > ul
{
    display: block;
}
 
/* Sub-menu */
 
#menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;   
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;   
	background:#0F2D66;
    /*background: #2B05AF;*/
    /*background: -moz-linear-gradient(top, #444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));*/
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 
#menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block; 
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}
 
#menu ul li:last-child
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;   
}
 
#menu ul a
{
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}
 
*html #menu ul a /* IE6 */
{
    height: 10px;
    width: 150px;
}
 
*:first-child+html #menu ul a /* IE7 */
{
    height: 10px;
    width: 150px;
}
 
#menu ul a:hover
{
    background: #2672FF;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
    background: -moz-linear-gradient(top,  #04acec,  #0186ba) !important;*/
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#04acec', endColorstr='#0186ba'); /* IE */
}
 
#menu ul li:first-child a
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
 
#menu ul li:first-child a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #050F26;
}
 
#menu ul li:first-child a:hover:after
{
    border-bottom-color: #050F26;
}
 
#menu ul li:last-child a
{
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
 
/* Clear floated elements */
#menu:after
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
 
* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */
