input[type="range"].custom {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #BDBDBD;
	border:0;
	height:10px;
	margin:3px 0;
	box-shadow:1px 1px 0px #666 inset;
}
input[type="range"].custom::-webkit-slider-thumb{  
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color:#848484;
	text-align:center;
	width: 20px;
	height: 20px;
	border:1px solid transparent;
	border-radius:20px;
	cursor:pointer;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
input[type="range"].custom::-webkit-slider-thumb:before {
	content:"";
	display:inline-block;
	background-color: #FF4000;
	width: 10px;
	height: 10px;
	border:1px solid transparent;
	border-radius:10px;
	margin:4px auto 0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
input[type="range"].custom::-webkit-slider-thumb:hover {
	background-color: #1C1C1C;
}

input[type="range"].custom:active::-webkit-slider-thumb {
	background-color: #1C1C1C
}
input[type="range"].custom:active::-webkit-slider-thumb:before {
	background-color: #FF4000;
}
input[type="range"].custom:focus {
	outline:none;
}

 #range{ 
	text-align: center; 
} 

#range-bar{ 
	height: 5px;
	width: 60%; 
	margin: 30px; 
}

#output1{
  	position:relative;
  	top:3px;
  	left:-20px;
  }
